#old{
	margin:auto;
  display: block;
 
}
body{
	
	margin:auto;
	font-family:Merienda One;	
}
.nav{
	float:center;
	background-color: Bisque;
	color:DarkGoldenRod;
	text-align:center;
	font-family:Merienda One;
	font-size: 33px;
}
#search{
   width: 100%;
   font-size: 18px;
   padding: 11px;
   border: 1px solid #ddd;
}
#list{
	padding: 0;
  margin: 0;
}

}
#list li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#list li a:hover {
  background-color: #eee;

} 

hr{
height:5px;
border-width:0;
color:Coral;
background-color:Coral;
} 

.row {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.colomn::after {
  content: "";
  clear: both;
  display: table;
}
#img2{
	width:100px;
}
#img3{
	width:100px;
    }
#img4{
	width:100px;  
}
#middle{
	text-align: center;
	font-family: Annie Use Your Telescope;
	color:Brown;
	font-size: 30px;
}
#comment{
	text-align: center;
	color:brown;
	font-family: Annie Use Your Telescope;
	font-size: 35px;
}

#btn{
  background-color: brown; 
  border:none;
  color: SeaShell;
  padding: 20px;
  text-align: center;
  font-family:Annie Use Your Telescope;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%
}
/*.dropbtn {
  background-color:brown;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family:sofia;
  border-radius: 50%
}

.dropbtn:hover, .dropbtn:focus {
  background-color: tan;
}

#myInput {
  
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding:14px 20px 12px 45px;
  border-radius: 50%
  
}

#myInput:focus {outline: 3px solid brown;}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: Tan;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: Snow;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family:sofia;
}

.dropdown a:hover {background-color: brown;}

.show {display: block;}*/