
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: sofia;
}

.topnav {
  overflow: hidden;
  background-color: tan;
  border-radius: 20%
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: brown;
  color: black;
}

.topnav a.active {
  background-color: brown;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

#title{
  font-family: Annie Use Your Telescope;
  margin: auto;
  color:brown;
  text-align: left;
  font-size: 100px;
}
#old{
	margin:auto;
  display: block;
 
}
body{
	
	margin:auto;
	font-family:Merienda One;	
}
.nav{
	float:center;
	background-color: Bisque;
	color:DarkGoldenRod;
	text-align:center;
	font-family:Merienda One;
	font-size: 33px;
}
#search{
   width: 100%;
   font-size: 18px;
   padding: 11px;
   border: 1px solid #ddd;
}
#list{
	padding: 0;
  margin: 0;
}

}
#list li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#list li a:hover {
  background-color: #eee;

} 

hr{
height:5px;
border-width:0;
color:Coral;
background-color:Coral;
} 

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
/*#img2{
	width:100px;
}
#img3{
	width:100px;
    }
#img4{
	width:100px;  
}*/
#middle{
	text-align: center;
	font-family: Annie Use Your Telescope;
	color:Brown;
	font-size: 30px;
}
#comment{
	text-align: center;
	color:brown;
	font-family: Annie Use Your Telescope;
	font-size: 35px;
}

#btn{
  background-color: brown; 
  border:none;
  color: SeaShell;
  padding: 20px;
  text-align: center;
  font-family:Annie Use Your Telescope;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%
}

html {
  scroll-behavior: smooth;
}
#conta{
 height: 100px;
  background-color: yellow;
}
/*.dropbtn {
  background-color:brown;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family:sofia;
  border-radius: 50%
}

.dropbtn:hover, .dropbtn:focus {
  background-color: tan;
}

#myInput {
  
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding:14px 20px 12px 45px;
  border-radius: 50%
  
}

#myInput:focus {outline: 3px solid brown;}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: Tan;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: Snow;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family:sofia;
}

.dropdown a:hover {background-color: brown;}

.show {display: block;}*/